main {
    display: flex;
    flex-direction: column;
    margin: 5px; 
}

.top-guide {
    background-color: #7A9B76;
    color:#000000;
    padding: 1px 5px;
    max-width: 400px;
    max-height: 50px;
    font-size: 1.5em; 
}

#jackets-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5px; 

}

.jacketDiv {
    display: flex;
    flex-direction: column;
    width: 20%; 
    margin: 10px;    
}

.jacketText {
    display: flex;
    justify-content: space-between;
    margin-top: 10px; 
}


/* within product grid */

.grid-pr-1 {
    display:flex;
    justify-content: center;
}
.grid-pr-2 {
    display: flex;
    justify-content: flex-start;
}
.grid-pr-3 {
    display: flex;
    justify-content: flex-end;
}
.product-text1 {
    font-size: 1.2rem;
    font-weight: 500; 
}
.product-text2 {
    font-size: 1.2rem;
}
.product-text3 {
    font-weight: 500; 
}

.sale {
    color: #CE8147;
}

a {
    text-decoration: none;
    color:#000000;
}


@media (max-width:1200px) {
    .jacketDiv {
        width: 30%; 
    }
}

@media (max-width:900px) {

    .mobile-display-none {
        display: none;
    } 

    .jacketDiv {
        width: 40%;  
    }


}

@media (max-width:600px) {

    #jackets-container {
        gap: 10px; 
        flex-direction: column;
    }

   .jacketDiv {
    max-width: 100%;
    margin: 5px; 
    gap: 10px; 
    align-self: center;
    
   }


}

@media (max-width: 450px) {
    .top-guide {
        max-width: 340px;
    }
}
