/* main */

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(7, auto);
    gap: 30px;
}

.main-image {
    display: block;
    grid-column: 1 / 3;
    grid-row: 1;
    margin-left: auto;  
    margin-right: auto; 
}

.main-image-mobile {
    display: none; 
}




h4 {
    font-size: 2em;
}

.slide-container-1 {
    grid-column: 1 / 3;
    grid-row: 2;
}
.slider {
    width:100%; 
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    background-color: #F9F8F8;
}

.slide {
    max-width: 350px;
    flex-shrink: 0;
    height: 100%;
}

.slides > div {
    scroll-snap-align:start;
    scroll-behavior: smooth;
}

.product-image-slide {
    max-width: 100%; 
}
.product {
    padding: 10px 10px 10px 10px;
    }
    
.floated {
        float: left;
    }
    
.text-aligned {
        text-align: center;
        color:#000000;
    }

.style {
        font-weight: bold;
        font-size: 1.2em;
    }


    .positioned-container {
        grid-column: 1;
        grid-row: 3 / 5; 
        position: relative;
    }
    
    .spring-collection-image {
        max-width: fit-content;
    }
    
    .positioned-new {
        position: absolute;  
        top: 5%;
        text-align: center;
        font-family: "akshar";
        color: rgb(10 54 65 /50%);
        font-size: 3em;
        font-weight: 800;
        margin: 0;
    }
    .positioned-sc {
        position: absolute;
        width: 90%;
        top: 3%;
        left: 5%;
        text-align: center;
        padding-top: 10%;
        font-size: 3.7em;
        font-weight: 600;
        color: #06232A;
        padding-left: 2%;
        background-color: rgb(255 255 255 /50%);
        background-blend-mode:normal;
        margin: 0;
    
    }
   
    
    
    .positioned-container-2, .positioned-container-3 {
        text-align: center;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    
    .positioned-container-2 {
        grid-column: 2 ;
        grid-row: 3; 
        background-color:#7A9B76;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center; 
    }
        
    .rd {

        text-align: center;
        font-weight: 400;
        font-size: 3.5em; 
        
    }
    
    h5 {
        text-align: center;
        font-size: 3.5em;
        font-weight: 600; 
        padding: 10px;
        margin: 0px;
    }
    
    .div-p {
        text-align: center;
        font-size: 1.5em;
        font-weight: 400;
        margin: 0px;
    }
    
    .bottom-text {
        margin: 0px;
    }



    .positioned-container-3 {
        grid-column: 2;
        grid-row: 4;
        background-image: url(/images/nikhil-prasad-h-C4l0-MHGY-unsplash.jpg);
        background-size: cover;
        background-position: center;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
      }
      
      .blog-text-1 {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding: 10px 10px 0px 0px;
        margin: 0px;
        font-size: 1.5em;
        font-weight: 500;
        color: #06232A;
      }
      
      .blog-text-2 {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding-right: 10px;
        margin: 0px;
        font-size: 1.5em;
        font-weight: 400;
        color: #06232A;
      }


.slide-container-2 {
    grid-column: 1 / 3;
    grid-row: 5;
}

.slide-container-3 {
    grid-column: 1 / 3;
    grid-row: 6;
}




.positioned-container-some {
    grid-column: 1 / 3 ;
    grid-row: 7 ;
    gap: 30px; 
    display: flex;
}

.some-image {
    max-width: 600px; 
}

.positioned-container-some-1 { 
        background-color:#7A9B76;
        display: flex;
        flex-wrap: wrap;
        text-align: center; 
        justify-content: space-around;     
    }    

    
    .some-text-1 {

        font-size: 3em;
        font-weight: 600;
        margin: 0px;
        padding-top: 5%;
        padding-left: 15%;
        padding-right: 15%;
    }
    
    .some-text-2 {
        padding-top: 2%;
    }
    
    .some-text-3 {
        font-size: 2em;
        margin: 0px;
        font-weight: 500;
    }
    .icons-some {
        max-width: 80px;
    }


.display-none {
    display: none;
}



@media (max-width: 1020px) {

    .main-image {
        max-width: 800px;
    }

    .some-display-none {
        display: none;

    }
    .positioned-container-some {
        grid-column: 1 / 3;
        grid-row: 7;
        background-image: url(/images/istockphoto-1320993309-170667a.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        min-height: 50vh;
        display: flex; 
        flex-direction: column;
        text-align: end;
        justify-content: flex-start;
        align-items: flex-end;

        
    }

    .positioned-container-some-1 {
        display: flex; 
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        background: fixed;
        
    }

    .some-text-1 {
        font-size: 1.5em;
        font-weight: 600;
        margin: 0px;
        padding: 10px 10px 0px 0px; 
    }
    
    .some-text-mobile {
        font-size: 1em;
        margin: 0px;
        font-weight: 500;
        padding: 10px 10px 0px 0px; 
    }
    

    .icons {
        max-width: 50px;
        
    }

    .positioned-container {
        min-height: 80vh;
    }
    .positioned-new {
        font-size: 2em;
    }
    .positioned-sc {
        font-size: 2em;
    }
    

    .rd {
        font-size: 2.5em; 
    }
    
    h5 {
        font-size: 2em;
        padding: 10px;
    }
    
    .div-p {
        font-size: 1em;
    }
}


@media (max-width: 900px) {

    main {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(8, auto);
    gap: 30px;  
    }
    
    .main-image {
        max-width: 600px;
    }
    .positioned-container {
        grid-column: 1 / 3;
        grid-row:3;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        min-height: 80vh;
    }

    .spring-collection-image {
        max-width: 100%;
    }
    
    .positioned-new {
        font-size: 2em;
        font-weight: 800;
    }
    .positioned-sc {
        padding-top: 12%;
        font-size: 2em;
        font-weight: 600;
        padding-left: 2%;
    
    }
    
    .positioned-container-2 {
        grid-column: 1 / 3;
        grid-row: 2;
    }

    .rd {

        text-align: center;
        font-weight: 400;
        font-size: 2.5em; 
        
    }
    
    h5 {
        text-align: center;
        font-size: 2em;
        font-weight: 600; 
        padding: 5px;
        margin: 0px;
    }
    
    .div-p {
        text-align: center;
        font-size: 1em;
        font-weight: 400;
        margin: 0px;
    }
    
    .bottom-text {
        margin-bottom: 10px;
    }

    .positioned-container-3 {
        grid-column: 1 / 3;
        grid-row: 6;
        min-height: 100vh;
    }

}

@media (max-width: 800px) {
    .main-image { 
        display: none; 
        }
    
        .main-image-mobile {
            display: block;
            grid-column: 1 / 3;
            grid-row: 1;
            margin-left: auto;  
            margin-right: auto; 
            }
            
    .mobile-display {
        display: none;
    }

    .positioned-container-some {
        min-height: 40vh;
    }


}



@media (max-width: 600px) {

    main {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(8, auto);
    gap: 30px;  
    }

    .slide-container-1 {
        display: none; 
    }

    .slide-container-2 {
        grid-column: 1 / 3;
        grid-row: 4;
    }

    .slide-container-3 {
        grid-column: 1 / 3;
        grid-row: 5;
    }

    .positioned-container-some {
        min-height: 30vh;
    }

}


@media (max-width: 450px) {
    main {
        grid-template-columns: 1fr;
        padding: 2% 5%;
    }
    .positioned-new {
        font-size: 2em;
     
    }
    .positioned-sc {
        font-size: 2em;
        padding-top: 15%;
    }

    .positioned-container {
        min-height: 10vh;
    }

    .positioned-container-3 {
        min-height: 20vh;
    }

    .positioned-container-some {
        min-height: 20vh;
    }

    .about-pic {
        max-width: 350px;
    }
}